
<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="background-color: white;">

    <div class="jumbotron">
           <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
        <div class = "container">
          <!-- Grid row -->
          <div class="row">
              
            <!-- Grid column -->
            <div class="col-md-3 mt-md-0 mt-3">
    
              <!-- Content -->
              <h5 class="text-uppercase">HD MEDISUPPLY</h5>
              <address>2962 Feliz Rd, 
                <br>Santa Clara CA 95051
              </address>
                <!-- <mdb-icon fas icon="home" class="mr-3"></mdb-icon> -->
    
                <!-- <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> -->
            <p>
                <!-- <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> -->
               <a href="tel:+16509999888">(650) 999-9888</a><br>Mon – Fri: 9am – 6pm<br>
               <a href="mailto:info@hdmedisupply.com">info@hdmedisupply.com</a>
            </p>
    
            </div>
            <!-- Grid column -->
            <div class="col-md-2 mt-md-0 mt-3"></div>
    
            <hr class="clearfix w-100 d-md-none pb-3">
    
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
    
                <!-- Links -->
                <h5 class="text-uppercase">Products</h5>
    
                <ul class="list-unstyled">
                  <li>
                    <a href="#!">Item 1</a>
                  </li>
                  <li>
                    <a href="#!">Item 2</a>
                  </li>
                  
                </ul>
    
              </div>
              <!-- Grid column -->
              <div class="col-md-1 mt-md-0 mt-3"></div>
              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">
    
                <!-- Links -->
                <h5 class="text-uppercase">MORE</h5>
    
                <ul class="list-unstyled">
                  <li>
                    <a href="#!">Contact Us</a>
                  </li>
                  <li>
                    <a href="#!">Help</a>
                  </li>
                </ul>
    
              </div>
              <!-- Grid column -->
    
          </div>
          <!-- Grid row -->
        </div>
    
        </div>
        <!-- Footer Links -->
    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="https://hdmedisupply.com/"> HDMedisupply.com</a>
        </div>
        <!-- Copyright -->
      </div>

  </footer>
  <!-- Footer -->



